
//== XF Header style, used on page template

header.experiencefragment {
    padding: .5em 1em;

    a {
        color: $color-foreground;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $color-foreground-dark;
        }

        &:hover,
        &:focus {
            color: $color-link;
            text-decoration: underline;

            @media (prefers-color-scheme: dark) {
                color: $color-link-dark;
            }
        }
    }

    //== Grid layout

    .cmp-container {
        display: flex;
        > .aem-Grid {
            display: flex;
            align-items: center;
        }
    }
    
    //== Navigation

    .cmp-navigation__group {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .cmp-navigation__item--level-0 {

    }
    .cmp-navigation__item-link {
        display: block;
        margin-right: 30px;
        font: normal normal bold 12px/15px Montserrat;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }
    .cmp-navigation__item--active > .cmp-navigation__item-link {
        font-weight: bold;
    }

    //== Language Navigation

    .cmp-languagenavigation {
        position: relative;

        &::before {
            content: " ";
            display: block;
            height: 1.5em;
            width: 14px;
            margin: 0 10px;
            $color-foreground-rgb: 'rgb('+red($color-foreground)+','+green($color-foreground)+','+blue($color-foreground)+')';
            background-image: url('../resources/images/Web.svg');
            background-repeat: no-repeat;

            @media (prefers-color-scheme: dark) {
                $color-background-rgb: 'rgb('+red($color-foreground-dark)+','+green($color-foreground-dark)+','+blue($color-foreground-dark)+')';
                background-image: url('../resources/images/Web.svg');
            }
        }
        & > .cmp-languagenavigation__group {
            visibility: hidden;
            transition-delay: .5s;
            position: absolute;
            top: 34px;
            width: 20em;
            padding: 0 8px;
            border: 1px solid $color-foreground;
            border-top: 0;
            background: #433b48;
            right: 0;
            z-index: 1;
            border: none;

            @media (prefers-color-scheme: dark) {
                border-color: $color-foreground-dark;
                background: $color-background-dark;
            }
        }
        &:hover > .cmp-languagenavigation__group {
            visibility: visible;
            transition-delay: 0s;
        }
    }
    .cmp-languagenavigation__group {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .cmp-languagenavigation__item-title {
        font-size: x-small;
        text-transform: uppercase;
    }
    .cmp-languagenavigation__item--level-0 {
        margin-bottom: .5em;
        border-bottom: 1px solid $color-white-light;
    }
    .cmp-languagenavigation__item--level-1 {
       display: inline;
    }
    .cmp-languagenavigation__item--level-1:not(:first-child)::before {
        content: " | ";
    }
    .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-link {
        font-weight: bold;
    }

    //== Search

    .cmp-search {
        position: relative;
        &::before {
            content: " ";
            display: block;
            height: 1.5em;
            width: 14px;
            margin: 0 10px;
            background-image: url('../resources/images/search.svg');
            background-repeat: no-repeat;
        }
        & > .cmp-search__form {
            visibility: hidden;
            transition-delay: .5s;
            position: absolute;
            top: 34px;
            width: 20em;
            padding: 0 8px;
            border: 1px solid $color-foreground;
            border-top: 0;
            background: $color-background;
            right: 0;
            z-index: 1;
            border: none;

            @media (prefers-color-scheme: dark) {
                border-color: $color-foreground-dark;
                background: $color-background-dark;
            }
        }
        &:hover > .cmp-search__form {
            visibility: visible;
            transition-delay: 0s;
        }
    }

    .cmp-search__field {
        display: flex;
        margin: -3px 0;
    }
    .cmp-search__input {
        height: 26px;
    }

    .cmp-button {
        padding: 5px;
    }
}
