
//== XF Footer style, used on page template

footer.experiencefragment {
    .cmp-container--btn-list {
        display: flex !important;
        justify-content: center;
    }

    @media (prefers-color-scheme: dark) {
        border-color: $color-foreground-dark;
    }

    .cmp-separator__horizontal-rule {
        border-color: $color-white-light;
    }

    .cmp-text {
        color: $color-white-light;
    }
}