.cmp-carousel {}
.cmp-carousel__content {}
.cmp-carousel__item {}
.cmp-carousel__actions {}
.cmp-carousel__action {}
.cmp-carousel__action--disabled {}
.cmp-carousel__action--previous {}
.cmp-carousel__action--next {}
.cmp-carousel__action--pause {}
.cmp-carousel__action--play {}
.cmp-carousel__action-icon {}
.cmp-carousel__action-text {}
.cmp-carousel__indicators {}
.cmp-carousel__indicator {}

.cmp-carousel {
    .cmp-carousel__action--previous {
        display: none;
    }

    .cmp-carousel__action--next {
        display: none;
    }

    .cmp-carousel__indicators {
        margin-top: 0.5em;
        cursor: pointer;
        position: absolute;
        top: 45%;
        left: 35px;
        flex-direction: column;
        align-items: center;
    }

    .cmp-carousel__indicator {
        background-color: #FFFFFF80;
        width: 6px;
        height: 6px;
        margin: 7px 0;
    }

    .cmp-carousel__indicator--active {
        background-color: $color-foreground;
        width: 10px;
        height: 10px;
    }
}