.cmp-container--btn-list {
    display: flex;
    justify-content: center;
    .cmp-button--icononly {
        float: left;
        width: unset !important;
        padding-left: 0;
        padding-right: 30px;
    }
}

.cmp-layout-container--fixed {
    display: block;
    max-width: 80% !important;
    margin: 0 auto !important;
    float: unset !important;
    clear: both !important;
}

.cmp-container--header-btn-list {
    .cmp-container {
        display: flex;
        float: unset !important;
        justify-content: flex-end;
        align-items: center;

        >div {
            margin: 0 10px;
        }
        .search, .languagenavigation {
            margin-top: 5px;
        }
    }
}