.cmp-tabs__tab--active {
    background: $color-blue;
    border: none;
    border-radius: 8px;
    font: normal normal bold 14px/18px Montserrat;
    text-transform: uppercase;
    align-self: center;
}