.cmp-title__text {
    font: normal normal bold 41px/74px Montserrat;
    letter-spacing: 0px;
}

.cmp-title--underline { 
    .cmp-title {
        .cmp-title__text {
            text-transform: uppercase;
            @include heading-underline();
        }
    }
}

.cmp-title--center { 
    text-align: center;
    text-transform: capitalize;
}

.cmp-title--center.cmp-title--underline {
    .cmp-title {
        .cmp-title__text {
            text-transform: uppercase;
            &::after {
                display: block;
                margin-left: 45%;
                width: 128px;
                padding-top: 8px;
                content: "";
                border-bottom: 6px solid #3C55F0;
              }
        }
    }
}